body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

table {
  margin-top: 40px;
}

table, th, td {
  border: 2px solid black;
  padding: 15px;
  text-align: start;
}

form, input {
  padding: 10px;
  margin-bottom: 5px;
}

#links_to_other_pages {
  text-align: right;
  margin-inside: 10px;
}

a {
  color: #000000;
  margin: 10px;
}
