<!DOCTYPE html>
<html ng-app="nodeApp">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<h1><%= title %></h1>
<div id="login_form_container_div" ng-controller="removeUserController">
    <form id="login_form">
        <input type="text" placeholder="Username" name="username" ng-model="user.username" /><br>
        <input type="submit" ng-click="remove()" value="Remove User" />
    </form>
    <p id="after_removing_response">{{ response }}</p>
</div>
</body>

<!--libraries dependencies-->
<script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>
<!-- angular controller dependencies-->
<script type="text/javascript" src="/javascripts/controllers/root-controller.js"></script>
<script type="text/javascript" src="/javascripts/controllers/remove-user-controller.js"></script>
<!--angular service dependencies-->
<script type="text/javascript" src="/javascripts/services/apis-service.js"></script>
<script type="text/javascript" src="/javascripts/services/cookie-service.js"></script>
<script type="text/javascript" src="/javascripts/services/http-service.js"></script>

</html>